body{
	background-color: #17161c;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box; 
	font-family: arial;
}
header{
	max-width: 15%;
	height: 100%;
	background-color: #1b2733;
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;	

}
.header_left{
	text-align: center;
	position: relative;
}
header h1{
	color: white;
	padding-left: 20px;
	cursor: pointer;
	margin-right: 10px;
}
.navigation_left{
	display: block;
	width: 100%;
	height: 40px;
	margin-top: 10px;
	text-align: center;
}
.navigation_left1{
	display: block;
	width: 100%;
	height: 40px;
	margin-top: 10px;
	background-color: #191e21;
	text-align: center;
}
.navigation_left:first-child{
  background-color: #191e21;
}
.search{
	display: block;
	text-decoration: none;
	color: #fff;
}
.navigation_left:hover{
	background-color: #191e21;
}
section{
	width: 80%;
}
.container{
	font-family: consolas;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-left: 13%;
}
.container .box{
	
	position: relative;
	width: 250px;
	height: 280px;
	color: #fff;
	background-color: #111;
	justify-content: left;
	align-items: left;
	margin: 20px 30px;
	transition: 0.5s;
}
.container .box:hover{
	transform: translateY(-20px);
}
.container .box::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:linear-gradient(45deg, #ffbc00, #ff0058); 
}
.container .box::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: blur(30px); 
}
.container .box:nth-child(1)::before, .container .box:nth-child(1)::after{
	background:linear-gradient(45deg, #03a9f4, #ff0058);
	background-image: url('anme.jpg');
}
.container .box:nth-child(2)::before, .container .box:nth-child(2)::after{
	background:linear-gradient(45deg, #03a9f4, #ff0058);
	background-image: url('over you.jpg');
}
.container .box:nth-child(3)::before, .container .box:nth-child(3)::after{
	background:linear-gradient(45deg, #4dff03, #00d0ff);
	background-image: url('starlight.jpg');
}
.container .box:nth-child(4)::before, .container .box:nth-child(4)::after{
	background:linear-gradient(45deg, #fa46a9, #46ebfa);
	background-image: url('m0lly.jpg');
}
.container .box:nth-child(5)::before, .container .box:nth-child(5)::after{
	background:linear-gradient(45deg, #ffd21c, #24ff1c);
	background-image: url('tik tok.jpg');
}
.container .box:nth-child(6)::before, .container .box:nth-child(6)::after{
	background:linear-gradient(45deg, #00d0ff, #03a9f4);
	background-image: url('eat you alive.jpg');
}
.container .box:nth-child(7)::before, .container .box:nth-child(7)::after{
	background:linear-gradient(45deg, #ff1c24, #ff1c24);
	background-image: url('ревную.jpg');
}
.container .box:nth-child(8)::before, .container .box:nth-child(8)::after{
	background:linear-gradient(45deg, #ff1c24, #ff1cf7);
	background-image: url('all i need.jpg');
}
.container .box:nth-child(9)::before, .container .box:nth-child(9)::after{
	background:linear-gradient(45deg, #f7ff1c, #1c3eff);
	background-image: url('это.jpg');
}
.container .box:nth-child(10)::before, .container .box:nth-child(10)::after{
	background:linear-gradient(45deg, #c5c8d9, #18225e);
	background-image: url('starlight.jpg');
}
.container .box:nth-child(11)::before, .container .box:nth-child(11)::after{
	background:linear-gradient(45deg, #fa46a9, #46ebfa);
	background-image: url('starlight.jpg');
}
.container .box:nth-child(12)::before, .container .box:nth-child(12)::after{
	background:linear-gradient(45deg, #ffd21c, #24ff1c);
	background-image: url('starlight.jpg');
}
.container .box span{
	position: absolute;
	top: 6px;
	left: 6px;
	right: 6px;
	bottom: 6px;
	background: rgba(0, 0, 0, 0.6);
	z-index: 2; 
}
.container .box span::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(255, 255, 255, 0.1);
	pointer-events: none; 
}
.container .box .content{
	position: relative;
	z-index: 10;
	padding: 20px 40px;
}
.container .box .content h2{
	font-size: 2em;
	color: #fff;
	margin-bottom: 10px;
}
.container .box .content p{
	font-size: 1.1em;
	color: #fff;
	margin-bottom: 10px;
}
.container .box .content h2:hover, .container .box .content p:hover{
	color:SteelBlue;
	cursor: pointer;
}
.h2_like{
	justify-content: center;
	align-items: center;
	color: #fff;
	margin: 10px 0 0 0;
	text-align: center;
	position: relative;
}
.btn{
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  bottom: 0;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  margin-top: 3%;
}
.btn a{
	text-decoration: none;
	color: #fff;
}
.btn1,.btn2{
  color: #3498db;
}
.btn3,.btn4{
  color: #fff;
}
.btn1:hover,.btn2:hover{
  color: #fff;
}
.btn3:hover,.btn4:hover{
  color: #3498db;
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before,.btn3::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2::before,.btn4::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn3::before,.btn4::before{
  height: 180%;
}
.btn1:hover::before,.btn2:hover::before{
  height: 180%;
}
.btn3:hover::before,.btn4:hover::before{
  height: 0%;
}
.volume{
	margin-top: 10px;
}
footer{
	background-color: #202330;
	width: 100%;
	height: 200px;
	text-align:center;
}
footer h2{
	color: #fff;
}
aside{
	float: right;
	width: 20%;
	height: 100%;
	background-color: #1b2733;
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: 0;
    right: 0;
}
.container_fo{
	float: left;
	width: 95%;
	height: 90%;
	margin-top: 5%;
}
.fo_left{
	float: left;
	width: 45%;
	height: 90%;
	color: #fff;
	display: block;
	text-decoration: none;
	text-align: center;
}
.fo_left a{
	display: block;
	text-decoration: none;
	text-align: center;
	margin: 10px 0 0 40px;
	color: #fff;
}
.fo_left a:hover{
	color:SteelBlue;
}
.fo_right{
	float: right;
	width: 45%;
	height: 90%;
	color: #fff;
	text-decoration: none;
	text-align: center;
}
.fo_right a{
	display: block;
	text-decoration: none;
	text-align: center;
	margin: 10px 40px 0 0;
	color: #fff;
}
.fo_right a:hover{
	color:SteelBlue;
}
* {box-sizing:border-box}
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 20px 3% 0 18%;
}
.mySlides {
    display: none;
	background: linear-gradient(to left, #333, #000 75%, #fff 90%, #000 95%);
	display: inline-block;
}
.mySlides img{
	width:40%; 
	margin-left: 7%; 
	opacity: 0.4;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  margin-right: 5%;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.info{
	float: right;
	margin:3% 5% 0 0;
	color: #fff;
	width: 40%;
	height: 90%;

}
.info span{
	display: block;
	margin: 6px auto;
}
.box1{
  border-radius: 24px;
  margin-left:70px; 
  transform: translate(-50%,-50%);
  text-align: center;
  margin-top: 15%;
}
.box1 a{
	text-decoration: none;
}
.box1 input[type = "submit"]{
  border:0;
  background: #191919;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box1 input[type = "submit"]:hover{
  background: #2ecc71;
}
.box1 input[type = "submit"]:active{
  border:1px solid #ed553e;
}
